:root {
    --bs-body-font-family: 'Samsung One', 'sans-serif';
    --bs-body-font-size: .875rem;
    --bs-body-color: black;
    --bs-tertiary-bg: #F4F4F4;
    --bs-tertiary-bg-rgb: 244, 244, 244;
    --bs-link-color: inherit;
    --bs-link-hover-color: black00099;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-padding-x: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Samsung Sharp Sans', 'sans-serif';
    font-weight: 700;
}
.btn {
    --bs-btn-border-radius: 50rem;
    --bs-btn-font-weight: 700;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: .5rem;
}
.btn-dark {
    --bs-btn-bg: black;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-color: black;
}
.btn-light {
    --bs-btn-bg: white;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-color: white;
}

.navbar .offcanvas {
    --bs-offcanvas-width: 360px;
    .nav-link {
        border: 2px dotted transparent;
        transition: none;
        &:hover { font-weight: 700; }
        &:active { border: 2px dotted black; }
    }
}

.carousel-item .position-absolute {
    top: 11vw;
    left: 50%;
    translate: -50% 0;
    width: 86.66vw;
}
:is(.carousel, .position-absolute) :where(h4, p, a) { font-size: 3.88vw; }
.position-absolute h2 { font-size: 8.33vw; }

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: white;
    background-color: black;
    box-shadow: 0 0 0 10px black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: .3s;
}

.carousel-links { font: 700 1.125rem 'Samsung One', 'sans-serif'; }

.nav-underline {
    --bs-nav-underline-gap: 2rem;
    & .nav-link:not(.active) { border-bottom: none; }
}

.card-title { font-family: 'Samsung One', 'sans-serif'; }

#last-minute {
    .row { height: 33.33%; }
    .card * { transition: .4s; }
    .card img { width: 202px; }
    .card:hover {
        img { scale: 1.05; }
        .position-absolute:first-child { top: -50px !important; opacity: 0 !important; }
        .position-absolute:last-child { top: 0 !important; opacity: 1 !important; }
    }
    .card .position-relative {
        width: 200px;
        height: 50px;
        & span span:last-child { font-size: .75rem; }
    }
}

main {
    > :is(div, section) img { width: 100%; }
    > .position-relative {
        .position-absolute {
            h2 { font-size: 6.11vw; }
            p, .btn { font-size: 3.88vw; }
            .btn { padding: 2.66vw  6.38vw; }
        }
        .position-absolute.text-md-start { left: 50%; translate: -50% 0; }
        .position-absolute.text-md-start h6 { font: 700 3.33vw 'Samsung One', 'sans-serif'; }
        .position-absolute.text-md-start h2, section h2 { font-size: 7.22vw; }
    }
}

#deals img { height: 268px; width: 268px; }

.carousel-item:not(.carousel-fade .carousel-item) { transition-duration: .3s !important; }

.carousel-indicators.position-static { width: fit-content !important; }
.carousel-indicators .rounded-circle { width: 1rem; height: 1rem; }

.accordion {
    --bs-accordion-active-color: var(--bs-accordion-color);
    --bs-accordion-active-bg: var(--bs-accordion-bg);
}
.accordion-item { border-radius: 0 !important; border-width: 0 0 1px 0; }
.accordion-button { box-shadow: none !important; }

#carouselExplore {
    .carousel-item {
        padding: 0 11px;
        transition: all .3s;
    }
    .accordion-item { border: none; }
    .accordion-button { font: 700 1.5rem 'Samsung Sharp Sans', 'sans-serif'; }
    .accordion-button::after { display: none; }
}

section :where(.form-control, form i) {
    background-color: #f7f7f7 !important;
    font-size: 1.125rem;
}

section .row#tags {
    max-width: 500px;
    font-size: .75rem;
    & span:hover { background-color: #f7f7f7; }
}

#accordionDisclosures {
    .accordion-item { border-width: 0 !important; }
    .accordion-button {
        font: 700 1rem 'Samsung Sharp Sans', 'sans-serif';
        text-transform: capitalize;
        &::after { display: none; }
    }
    .accordion-button::before { 
        content: ">";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px !important;
        height: 20px !important;
        border: 2px solid black;
        color: black;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        font: 700 .75rem 'Samsung One', 'sans-serif';
        transition: all .25s;
        rotate: 90deg;
        translate: 0 -50%;
        margin-left: -10px;
    }
    .accordion-button[aria-expanded="true"]::before {
        rotate: -90deg;
        color: white;
        background: black;
    }
    .collapsing { transition: none !important; }
    a { color: #20a2ff; }
}

footer {
    font-size: 3.33vw;
    a:hover {
        color: #1428a0;
        text-decoration: underline;
    }
    .accordion {
        li { padding: 1rem 0; }
        a { font-size: 3.88vw; }
        .accordion-item:has(.collapse.show) {
            border-width: 0;
            .accordion-item { border-width: 0 0 1px 0 !important; }
        }
        .accordion-item .accordion-item:has(.collapse.show) { border-width: 1px 0 1px 0 !important; }
        .accordion-button {
            font: 700 4.44vw 'Samsung One', 'sans-serif';
            text-transform: uppercase;
            --bs-accordion-btn-padding-y: 2rem;
        }
    }
    #icons { font-size: 2.5rem; }
}

@media screen and (max-width: 767.98px) {
    #carouselExplore {
        .accordion-button {
            display: block;
            text-align: center;
            padding: 0;
            pointer-events: none !important;
            cursor: default;
            &::after { display: none; }
        }
        .collapse { display: block; }
    }
}

@media screen and (min-width: 576px) {
    section .form-control { width: 450px !important; }
}
